@import url("reset.css");
@import url("menu.css");
/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 

:root{
    --altura-header: 75px;
    --largura-menu-lateral: 90px;
    --margin-lateral: 4rem;
    --font-family : "Inter", sans-serif;
    --background-primary-light : #f0f2f5;
    --background-secundary : #cdcdfc;
    --detalhes-roxo : #9d98ff;
    --secondary-color-text : #090c38;
    --color-text: #171D1F;
    --branco: #FFFFFF;
    --bs-btn-bg: #171D1F;
    --bg-dark-leve : #292929;
    /* --btn-background-dark :  */
}

body{
    display: flex;
    margin: 0;
    background: var(--background-primary-light);
    font-family: var(--font-family);
}

form{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

.div_tabela{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.principal {
    width: calc(100% - var(--largura-menu-lateral)) !important;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.formularios{
    margin-top: 2rem;
}

.formularios_modal{
    margin-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.indicadores_carousel{
    background-color: #A9ACF9 !important;
    height: 1rem !important;
    width: 1rem !important;
    border-radius: 50%;
}

.carousel-indicators{
    top: 0!important;
    justify-content: end!important;
    margin-right: 0px !important;
    height: 1.5rem !important;

}

#form_cadastro_urls .form-check{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.tituloModal i{
    font-size: 2.5rem;
    color: #7f83f5;
}

.tituloModal{
    align-items: center;
}

/* --------------------- header -------------------- */
.header-top nav{
    width: 100%;
    height: var(--altura-header);
    left: var(--largura-menu-lateral);
}

.container-header-top{
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.conjunto__header__dois{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20% 0 15%;
}

.conjunto__header__dois a{
    font-size: 1.5rem;
}

.conjunto__header__dois img{
    width: 14%;
}

.barra-separacao{
    width: 80%;
    border-bottom: 1px solid black;
    margin: 0 auto;
}

.btn-sair{
    background: transparent;
    border: none;
    font-weight: 600;
    border-bottom: 1px solid var(--color-text);
    cursor: pointer;
}

.button-menu{
    background-color: transparent;
    padding: .1rem .8rem;
    border-radius: 6px;
    border: 1px solid var(--color-text);
    font-size: 24px;
    transition: .4s all ease;
    cursor: pointer;
}

.button-menu:hover{
    color: var(--branco);
    background-color: var(--color-text);
    transition: .4s all ease;
}

/* ------------------ */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 2px grey;  */
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7f83f5; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7f83f5; 
  }

  /* ---------- SENHA ----------- */
.div-senha{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.lista-senha{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--background-secundary);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 16px;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-text);
}

.lista-senha i{
    font-size: 1.1rem;
}

.errado{
    color: rgb(180, 47, 47);
}

.certo{
    color: rgb(4, 177, 76);
}

/* ---------- form ---------- */

.form-control:disabled {
    background-color: #d2d2e6;
    opacity: 1;
}

/* ------------- CHECKBOX ------------ */

.form-check-input:checked {
    background-color: var(--detalhes-roxo);
    border-color: var(--detalhes-roxo);
}
/* --------------- BTNS --------------- */

.btn-outline-purple{
    background-color: transparent;
    border: 1px solid var(--bg-dark-leve);
}
.btn-outline-purple:hover{
    background-color: var(--bg-dark-leve);
    color: #FFF;
}

.btn-customizado{
    background-color: #712cf9;
    color: #fff;
}

.btn-customizado:hover{
    background-color: #6e27fc;
    color: #fff;
}


/* -------------- caixas de niveis ------------ */

.nivel-Administrador{
    color: #7A958F;
    font-weight: 700;
    background: #BAE0DA;
    padding: .3rem .5rem;
    border-radius: .25rem; 
    border-left: 2px solid#7A958F;
}

.nivel-Coordenador{
    color: #DD8D6E;
    font-weight: 700;
    background: #F2DAC6;
    padding: .3rem .5rem;
    border-radius: .25rem; 
    border-left: 2px solid#DD8D6E;
}
.nivel-Avaliador{
    color: #81CEEB;
    font-weight: 700;
    background: #C7EEF8;
    padding: .3rem .5rem;
    border-radius: .25rem; 
    border-left: 2px solid#81CEEB;
}


/* --------------- resolucoes -------------- */
 @media (max-width: 1350px) {
    .conjunto__header__dois img{
        width: 20%;
    }
  }

 @media (max-width: 1024px) {
    .conjunto__header__dois img{
        width: 25%;
    }
  }
  @media (max-width: 750px) {
    .conjunto__header__dois img{
        width: 35%;
    }
  }

  .liveAlertPlaceholder{
    display: flex !important;
    justify-content: end!important;
    padding-right: 2rem;
  }