<div class="modal fade" id="cadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
            <div class="modal-body bg-dark">

                <div class="container-fluid-login">
                    <div class="form-image">
                        <img src="../../../../global/util/image/undraw_photocopy_re_gln4.svg" alt="">
                    </div>
                    <div class="form bg-dark">
                        <div class="form-header px-5">
                            <div class="title">
                                <h1>Cadastre-se</h1>
                            </div>
                        </div>
                        <form class="row g-3 p-5 needs-validation" id="form_proprio_usuario" novalidate>
                            <div class="col-md-12 col-lg-6">
                                <label for="nome" class="form-label">Nome</label>
                                <input type="text" class="form-control input-pagina-login" id="nome" required>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="email" class="form-control input-pagina-login" id="email" required>
                            </div>
                            <div class="col-12 col-lg-6" >
                                <label for="dataNascimento" class="form-label">Data de nascimento</label>
                                <input type="date" class="form-control input-pagina-login" id="dataNascimento" required>
                            </div>
             
                            <div class="col-md-12 col-lg-6">
                                <label for="login" class="form-label">Login</label>
                                <input type="text" class="form-control input-pagina-login" id="login" required>
                            </div>

                            <div class="col-md-12 col-lg-6">
                                <label for="senha" class="form-label">Senha</label>
                                <input type="password" class="form-control input-pagina-login" id="senha" oninput="validandoSenha(this, 'confirmarSenha', 'form_proprio_usuario')" required>
                            </div>

                            <div class="col-md-12 col-lg-6">
                                <label for="confirmarSenha" class="form-label">Confirmar Senha</label>
                                <input type="password" class="form-control input-pagina-login" id="confirmarSenha" onblur="validandoSenhaConfirmar(this, null, 'senha', 'form_proprio_usuario')" required>
                                <div class="invalid-feedback senhaInvalida">
                                    As senhas não estão iguais.
                                </div>
                                <div class="valid-feedback senhaValida">
                                    Senha confirmada.
                                </div>
                            </div>

                            <div class="div-senha col-md-12 d-none" id="div-senha">
                                <ul class="lista-senha">
                                    <li class="lista-item"> <i id="oito_caractere" class="bi bi-x errado"></i> No mínimo 8 caracteres </li>
                                    <li class="lista-item"> <i id="um_maiusculo" class="bi bi-x errado"></i> No mínimo 1 letra maíscula </li>
                                    <li class="lista-item"> <i id="um_minusculo" class="bi bi-x errado"></i> No mínimo 1 letra minúscula </li>
                                    <li class="lista-item"> <i id="um_especial" class="bi bi-x errado"></i> No mínimo 1 caractere especial </li>
                                    <li class="lista-item"> <i id="um_numero" class="bi bi-x errado"></i> No mínimo 1 número </li>
                                    <!-- <li class="lista-item"> <i id="sem_ponto" class="bi bi-check2 certo"></i> não pode ter caractere de pontuação, acentuação ou espaço </li> -->
                                </ul>
                            </div>

                            <div class="col-6">
                                <small>Sexo</small>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="group-sexo" id="feminino"
                                        checked>
                                    <label class="form-check-label" for="feminino">
                                        Feminino
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="group-sexo" id="masculino">
                                    <label class="form-check-label" for="masculino">
                                        Masculino
                                    </label>
                                </div>
                            </div>

                            <div class="col-6">
                                <small>Tipo de Usuário</small>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="permissao" id="coordenador"
                                        checked>
                                    <label class="form-check-label" for="coordenador">
                                        Coordenador
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="permissao" id="avaliador">
                                    <label class="form-check-label" for="avaliador">
                                        Avaliador
                                    </label>
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" onclick="validateForm(event)" id="enviarCadastro" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>