<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body bg-dark">
          
            <div class="container-fluid-login">
                <div class="form-image">
                    <img src="../../../../WebAssess/global/util/image/undraw_experience_design_re_dmqq.svg" alt="">
                </div>
                <div class="form bg-dark">
                    <form class="row g-3">
                        <div class="form-header">
                            <div class="title">
                                <h1>Acessar o sistema</h1>
                            </div>
                        </div>

                        <div class="input-group col-6">

                            <div class="input-box col-12" >
                                <label for="username">Usuário</label>
                                <input type="text" id="username" placeholder="Usuário do login">
                            </div>

                            <div class="input-box col-12">
                                <label for="senha">Senha</label>
                                <input type="password" id="senha" placeholder="Senha">
                            </div>

                        </div>
                        <div class="continue-button">
                            <button type="button" onclick="fazerLogin()"><a >Entrar</a></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

  <!-- <script>
    function fazerLogin() {
        console.log("oi")
    }
  </script> -->