@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.formularios_consulta, .div_tabela{
    margin: 0 2rem 0 2rem;
}

.formularios{
    padding-left: 0px!important;
}

.principal{
    display: grid;
    grid-template-columns: 65% 30%;
    padding-right: 80px;
    gap: 2.8rem;
}

.lista{
    margin-top: 2rem;
    background: var(--background-secundary);
    padding: 1.5rem;
    height: 75vh;
    border-radius: 15px;
    overflow-y: auto;
}

.lista h5{
    color: #6c6c8f;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.lista li{
    color: #6c6c8f;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.lista .list-group li{
    background: transparent !important;
}

.div_tabela{
    margin-top: 2rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}