.container-fluid-login{
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secundary);
    padding: 1rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-image img{
    width: 25rem;
    /* height: 25rem; */
}

.form-header{
    margin-top: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #6b63fff1;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 1rem 0; */
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    /* margin-right: 5px; */
}

.input-pagina-login{
    border: 1px solid #656399 !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    background-color: rgba(33, 37, 41, 5)!important;
    color: #fff!important;
}

.input-pagina-login:-webkit-autofill,
.input-pagina-login:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 300px rgba(33, 37, 41, 5) inset !important;
    -webkit-text-fill-color: #fff !important;
}

.input-pagina-login:hover{
    background-color: rgba(33, 37, 41, .5);
    outline: 2px solid #6c63ff;
}

.input-pagina-login:focus-visible{
    background-color: rgba(33, 37, 41, 1);
    outline: 2px solid #6c63ff;
}

.input-pagina-login::-webkit-input-placeholder {
    color: #fff;
 }

.input-box label{
    text-align: start;
}

.input-box label{
    font-size: 0.75rem;
    font-weight: 600;
}

.gender-title h6{
    text-align: start;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.gender-input input{
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: #6b63fff1;
}

.continue-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}
/* ------------ section principal */
.navContainerPrincipal{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navContainerPrincipal main{
    height: 50%;
}

/* ------------ header pricipal ------------ */
#headerIndex{
 width: 100%;
}

.headerPrincipal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.headerPrincipal .img-logo{
    width: 10%;
}

.navContainerPrincipal nav a {
    text-decoration: none;
    color: #fff;
} 

.navContainerPrincipal nav a:hover {
    color: #9c97fff1;
} 

.buttonsLogin a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image{
        display: none;
    }

    .container-fluid-login{
        width: 100%;
    }

    .form{
        width: 100%;
    }
}

@media screen and (max-width: 1064px){
    .container-fluid-login{
        width: 100%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        z-index: 5;
        /* padding-right: 1rem; */
        max-height: 30rem;
        /* overflow-y: scroll; */
        flex-wrap: nowrap;
        gap: 15px;
    }
}

.tagAPointer{
    cursor: pointer;
}

/* FORM */
form label{
    display: flex;
    justify-content: start;
}

/* ---------- SENHA ----------- */
.div-senha{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.lista-senha{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--background-secundary);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 16px;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-text);
}

.lista-senha i{
    font-size: 1.1rem;
}

.errado{
    color: rgb(180, 47, 47);
}

.certo{
    color: rgb(4, 177, 76);
}

.dropdown-menu{
    width: 370px;
}

.li-permitir-vermais{
    border-bottom: 0px !important;
}

.ul-permitir-vermais{
    width: 28rem !important;
}