

/* ------------------ div boas vindas ---------------------- */
.boas__vindas {
    display: flex;
    /* justify-content: center; */
    gap: 5rem;
    box-sizing: border-box;
    padding: 2% 3%;
    background: #bfc1ff;
    margin: 1rem 3rem 0 3rem;
    border-left: 8px solid #979af8;
}

.boas__vindas__texto {
    width: 50%;
    font-size: 100%;
    flex-grow: 1;
}

.boas__vindas__texto h3{
    font-weight: 700;
}

.boas__vindas__img {
    width: 20%;
    /* background: #A9ACF9; */
    border-radius: 30px;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.boas__vindas__img img {
    width: 100%;
}

.border-bottom-titulo{
    border-bottom: 5px solid #979af8;
    width: 13%;
    border-radius: 2rem;
    margin-bottom: .5rem;
}

/* ------------------------ complemento ----------------------- */
.complemento {
    display: flex;
    justify-content: center;
    gap: .5rem;
    box-sizing: border-box;
    padding: 1% 1%;
    margin: 1rem 1rem 0 1rem;
}

/* --------------------- notificacoes__usuarios -------------------- */
 .notificacoes__usuarios{
    width: 45%;
}

.notificacoes__usuarios__lista{
    height: 30vh;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.div-lista-notificacoes ul{
    border-radius: 0px;
}

.div-lista-notificacoes ul li{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-lista-notificacoes ul li .btn-group{
    display: flex;
    justify-content: end;
    
}

.form-check-input{
    border: 1px solid rgb(180, 180, 180)!important;
    width: 1.2rem!important;
    height: 1.2rem!important;
}

@media screen and (max-width : 1600px){
    .complemento {
        gap: 0px!important;
    }
    .notificacoes__usuarios {
        width: 90%;
    }

    .notificacoes__usuarios__lista{
        height: 40vh;
    }
}

@media screen and (max-width : 1200px){
    .boas__vindas {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        gap: 3rem;
        box-sizing: border-box;
        padding: 3% 5% 0 5%;
    }

    .boas__vindas__img {
        width: 30%;
    }
}

#informacoes_adicionais p{
    margin-top: 0px !important;
    padding-bottom: 0px !important;
}