

/* ------------------ div boas vindas ---------------------- */
.boas__vindas {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 5rem;
    box-sizing: border-box;
    padding: 3% 15% 0 15%;
}

.boas__vindas__texto {
    width: 50%;
    font-size: 100%;
    flex-grow: 1;
}

.boas__vindas__texto h3{
    font-weight: 700;
}

.boas__vindas__img {
    width: 38%;
    background: var(--background-secundary);
    border-radius: 30px;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.boas__vindas__img img {
    width: 100%;
}

.border-bottom-titulo{
    border-bottom: 5px solid var(--detalhes-roxo);
    width: 13%;
    border-radius: 2rem;
    margin-bottom: .5rem;
}

/* ------------------------ complemento ----------------------- */
.complemento {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    box-sizing: border-box;
    gap: 4rem;
}

/* ---------------------- acesso rapido -------------------- */
.acesso__rapido {
    width: 50%;
}

.btn__acesso__rapido {
    display: flex;
    gap: 1.8rem;
    justify-content: center;
    align-items: center;
}

.btn__acesso__rapido button {
    border-radius: 100px;
    margin-top: 1.5rem;
}

.btn__acesso__rapido button i {
    font-size: 1.5rem;
}

.div-btn-acesso-rapido {
    display: flex;
    flex-direction: column;
}

.div-btn-acesso-rapido label {
    margin: 0 auto;
}

/* --------------------- notificacoes__usuarios -------------------- */
 .notificacoes__usuarios, .acesso__rapido {
    width: 50%;
}

.notificacoes__usuarios__lista{
    height: 30vh;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.div-lista-notificacoes ul{
    border-radius: 0px;
}

.div-lista-notificacoes ul li{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-lista-notificacoes ul li .btn-group{
    display: flex;
    justify-content: end;
    
}

.form-check-input{
    border: 1px solid rgb(180, 180, 180)!important;
    width: 1.2rem!important;
    height: 1.2rem!important;
}

@media screen and (max-width : 1700px){
    .notificacoes__usuarios {
        width: 60%;
    }

    .notificacoes__usuarios__lista{
        height: 40vh;
    }
}
