<h4 class="mt-3">Avaliações</h4>

      <div class="div_aviso_convidados">
        <h6>Verifique as avaliações disponiveis e fique atento a data de finalização da avaliação!</h6>
        <p>Clique no botão que se encontra na coluna de questionário ou check-list para iniciar a avaliação.</p>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">WebSite</th>
            <th>Data de início</th>
            <th>Data de fim</th>
            <th>Responder</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody id="body_consulta_urls_avaliação">
        </tbody>
      </table>