<h4>Cadastro de Profissões</h4>

<form class="row g-3" id="form_cadastro_profissoes">

    <div class="col-md-12">
        <label for="nome_profissao" class="form-label">Profissão</label>
        <input type="text" class="form-control" id="nome_profissao">
    </div>
    
    <!-- <div class="col-md-6"></div> -->

    <div class="form-check col-md-2">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="profissao_ativo" checked>
        <label class="form-check-label" for="profissao_ativo">
            Ativo
        </label>
    </div>

    <div class="form-check col-md-2">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="profissao_inativo" >
        <label class="form-check-label" for="profissao_inativo">
            Inativo
        </label>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button" id="btnSalvarProfissao" data-bs-toll="tooltip" data-bs-placement="top"
        data-bs-title="Salvar dados do Questionário.">Salvar</button>
        <button class="btn btn-dark" type="button" data-bs-toll="tooltip" data-bs-placement="top"
        data-bs-title="Cancelar a ação." onclick="limparCampos('nome_profissao')">Cancelar</button>
    </div>
</form>