<h4>Consulta de Profissões</h4>

<form class="row g-3" id="form_consulta_profissoes">

    <!-- <div class="col-md-12">
        <label for="c_nome_profissao" class="form-label">Profissão</label>
        <input type="text" class="form-control" id="c_nome_profissao">
    </div> -->

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" data-bs-toll="tooltip" data-bs-placement="top"
        data-bs-title="Limpar campos." type="button" onclick="limparCampos('c_nome_profissao')">Limpar</button>
        <button class="btn btn-primary me-md-2" data-bs-toll="tooltip" data-bs-placement="top"
        data-bs-title="Clique para listar todas os itens." id="btnConsultaProfissao" type="button">Consultar</button>
    </div>
</form>