<h4>Resultado</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th id="thPergunta">Pergunta</th>
            <th id="thRuim">Ruim</th>
            <th id="thRegular">Regular</th>
            <th id="thBom">Bom</th>
            <th id="thMuitoBom">Muito Bom</th>
            <th id="thOtimo">Ótimo</th>
            <th id="thSim">Sim</th>
            <th id="thNao">Não</th>
            <th id="thNaoAplica">Não se aplica</th>
        </tr>
    </thead>
    <tbody id="body_relatorio_questionario_perguntas">    
    </tbody>
</table>