.carousel_urls .carousel-indicators button{
    background: #7f83f5 !important;
}

.div-convidado{
    color: #DD8D6E;
    font-weight: 700;
    background: #F2DAC6;
    padding: .3rem .5rem;
    border-radius: .25rem; 
    border-left: 2px solid#DD8D6E;
    cursor: pointer;
}

.aviso-azul{
    color: #36a2c9;
    background: #C7EEF8;
    padding: 1rem .5rem;
    border-left: 3px solid#81CEEB;
}

.aviso-azul h6{
    margin: 0;
    font-weight: bold;
}
.aviso-azul p{
    margin: 0;
}

#body_consulta_convidados tr{
    cursor: pointer;
}

#body_consulta_convidados tr.linha-selecionada td{
    background-color: var(--background-secundary) !important;
}

.div-botao-enviar{
    display: flex;
    justify-content: end;
}

/* LISTA DE AVALIADORES INCLUIDOS */

.lista{
    width: 100%;
    padding: 0 3rem 0 0; 
}

.list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.list-group-item{
    cursor: pointer;
}

.list-group-item-check:checked + .list-group-item {
    color: #6c6c8f;
    font-weight: 600;
    background-color: var(--background-secundary);
    border-color: var(--background-secundary);
}


.container_radios{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.container__radios__inputs{
    display: flex;
    justify-content: space-evenly;
}

#listar-avaliadores-cadastrados label{
    border: 1px solid var(--background-secundary);
}

.informacoes_avaliadores_das_perguntas{
    width: 100%;
    padding: 1rem;
    background-color: var(--background-secundary);
    border-color: var(--background-secundary);
    border-left: 5px solid #a8a8fc;
    color: #57577a;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.informacoes_avaliadores_das_perguntas i {
    font-size: 1.5rem !important;
}


.pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
      #4CAF50 0% 20%,      /* Segmento 1 */
      #FF9800 20% 40%,     /* Segmento 2 */
      #2196F3 40% 60%,     /* Segmento 3 */
      #f44336 60% 80%,     /* Segmento 4 */
      #9C27B0 80% 100%     /* Segmento 5 */
    );
    display: inline-block;
  }