<header class="header-top">
  <nav class="nav-header-top">
    <div class="container-header-top">

      <div class="conjunto__header__um">
        <button class="button-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
      </div>

      <div class="conjunto__header__dois">
        <img src="../../../global/util/image/Logo1Ligth.png" alt="">
        <!-- <a class="navbar-brand">WebAssess</a> -->
        <button type="button" class="btn-sair pe-3"><i
            class="bi bi-box-arrow-right px-2"></i>Sair</button>
      </div>
    </div>
    <div class="barra-separacao mt-1"></div>
  </nav>

</header>
