<header class="header-top">
    <nav class="navbar fixed-top bg-body-tertiary">
      <div class="container-fluid">
        <div class="conjunto__header__dois">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="conjunto__header__um">
          <a class="navbar-brand">WebAssess</a>
          <button type="button" class="btn btn-outline-dark btn-sair"><i
              class="bi bi-box-arrow-right"></i><label>Sair</label></button>
        </div>
        <div class="barra-separacao mt-1"></div>
      </div>
    </nav>

  </header>