<nav class="navbar navbar-dark bg-dark menu-lateral">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Offcanvas dark navbar</a> -->

        <!-- icones de atalho no menu -->
        <div class="menu-curto">
            <div>
                <a><i class="bi bi-person-plus"></i></a>
                <div class="div-menu-curto">
                    <a href="" class="mb-2">Cadastros</a>
                    <ul>
                        <li>Usuários</li>
                        <li>Urls</li>
                        <li>Profissões</li>
                    </ul>
                </div>
            </div>
            <div>
                <a><i class="bi bi-journal-text"></i></a>
                <div class="div-menu-curto">
                    <a href="">Questionário</a>
                </div>
            </div>
            <div>
                <a><i class="bi bi-ui-checks"></i></a>
                <div class="div-menu-curto">
                    <a href="">Check-List</a>
                </div>
            </div>
            <div>
                <a><i class="bi bi-clipboard"></i></a>
                <div class="div-menu-curto">
                    <a href="">Relatórios</a>
                    <ul>
                        <li>Questionário e Check List</li>
                        <li>Avaliadores e Coordenadores</li>
                        <li>Urls</li>
                    </ul>
                </div>
            </div>
            <div>
                <a><i class="bi bi-patch-question"></i></a>
                <div class="div-menu-curto">
                    <a href="">Ajuda</a>
                </div>
            </div>
            <div>
                <a><i class="bi bi-door-closed"></i></a>
                <div class="div-menu-curto">
                    <a href="">Sair</a>
                </div>
            </div>
        </div>
        


        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">

                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">

                    <form class="d-flex mb-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                    <!-- CADASTROS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="bi bi-person-plus"></i>Cadastros
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" onclick="url_cadastro_usuarios()">Usuários</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#modal_gerenciar_urls">Urls</a></li>
                            <li><a class="dropdown-item" onclick="url_cadastro_parametros()">Profissões</a></li>
                        </ul>
                    </li>

                    <!-- Questionários -->
                    <li class="nav-item">
                        <a class="nav-link active"onclick="url_questionario()" aria-current="page"><i
                                class="bi bi-journal-text" ></i>Questionário</a>
                    </li>

                    <!-- CHECK LIST -->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-ui-checks"></i>Check-List</a>
                    </li>

                    <!-- RELATÓRIOS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="bi bi-clipboard"></i>Relatórios
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Questionário e Check List</a></li>
                            <li><a class="dropdown-item" href="#">Avaliadores e Coordenadores</a></li>
                            <li><a class="dropdown-item" href="#">Urls</a></li>
                        </ul>
                    </li>

                    <!-- AJUDA -->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-patch-question"></i>Ajuda</a>
                    </li>

                    <!-- SAIR -->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-door-closed"></i>Sair</a>
                    </li>
                </ul>

            </div>
            <div class="offcanvas-footer">
                <div>
                    <img src="../../global/util/usuarios/anya.jpg" class="rounded-circle" alt=""> 
                </div>
                <!-- -->
                <a class="nav-link" href="#">Manuela Macena</a>
            </div>
        </div>
    </div>

    <div id="div_gerenciar_urls">
        <script>
            $(document).ready(function () {
                $("#div_gerenciar_urls").load(urlsFront("cadastros")+"urls/components/modal/modalUrls.html");
            });
        </script>
    </div>
</nav>