<h4>Relatórios de por profissão, de avaliadores que responderam as avaliações.</h4>

<form class="row g-3" id="form_consulta_urls">

    <div class="col-md-12">
        <label for="c_url" class="form-label">Url</label>
        <input type="text" class="form-control" id="c_url">
    </div>

    <div class="col-xl-6 col-md-12 col-sm-12">
        <label for="c_data_inicio" class="form-label">Data Início</label>
        <input type="date" class="form-control" id="c_data_inicio">
    </div>

    <div class="col-xl-6 col-md-12 col-sm-12">
        <label for="c_data_fim" class="form-label">Data fim</label>
        <input type="date" class="form-control" id="c_data_fim">
    </div>
  
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Limpar</button>
        <button class="btn btn-primary" type="button" id="btnConsultaUrls">Consultar</button>
    </div>
</form>