<h4 id="titulo_cad_urls">Cadastro de Urls</h4>

<form class="row g-3" id="form_cadastro_urls">

    <div class="col-xl-2 col-md-2 col-sm-2">
        <label for="url_codigo" class="form-label">Código</label>
        <input type="text" class="form-control" id="url_codigo" disabled>
    </div>

    <div class="col-xl-10 col-md-10 col-sm-10">
        <label for="url_website" class="form-label">Url</label>
        <input type="text" class="form-control" id="url_website">
    </div>

    <div class="col-xl-6 col-md-12 col-sm-12">
        <label for="url_data_inicio" class="form-label">Data Início</label>
        <input type="date" class="form-control" id="url_data_inicio">
    </div>

    <div class="col-xl-6 col-md-12 col-sm-12">
        <label for="url_data_fim" class="form-label">Data fim</label>
        <input type="date" class="form-control" id="url_data_fim">
    </div>


    <div class="col-xl-7 col-md-12 col-sm-12">
        <label for="url_descricao" class="form-label">Descrição</label>
        <textarea class="form-control" placeholder="Ex: Essa url pertence a um site de e-commerce, sobre calçados e bolsas, avaliar o fluxo de compras." id="url_descricao"
            style="height: 100px"></textarea>
    </div>


    <!-- <div class="col-xl-2 col-md-12 col-sm-12">
        <h5>Status da Url</h5>
        <div class="d-flex gap-5 justify-content-between">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="url_ativo" checked>
                <label class="form-check-label" for="url_ativo">
                    Ativo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="url_inativo" >
                <label class="form-check-label" for="url_inativo">
                    Inativo
                </label>
            </div>
        </div>
    </div> -->



    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button" id="btnSalvarUrl">Salvar</button>
        <button class="btn btn-dark" type="button">Cancelar</button>
    </div>
</form>