<h4>Consulta de Urls</h4>

<form class="row g-3" id="form_consulta_urls">
    <div class="col-md-4">
        <label for="c_questionario" class="form-label">Quationário</label>
        <select id="c_questionario" class="form-select">
            <option selected></option>
        </select>
    </div>

    <div class="col-md-4">
        <label for="c_check_list" class="form-label">Check-list</label>
        <select id="c_check_list" class="form-select">
        </select>
    </div>

    <div class="col-md-4">
        <label for="c_categoria" class="form-label">Categoria</label>
        <select id="c_categoria" class="form-select">
        </select>
    </div>

    <div class="col-md-8">
        <label for="c_url" class="form-label">Url</label>
        <input type="text" class="form-control" id="c_url" placeholder="Ex: Manuela">
    </div>

    <div class="col-md-4">
        <label for="c_publico_alvo" class="form-label">Publico alvo</label>
        <select id="c_publico_alvo" class="form-select">
        </select>
    </div>
  
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Limpar</button>
        <button class="btn btn-primary" type="button">Consultar</button>
    </div>
</form>