<!-- <ul class="nav nav-pills mb-3 mt-5 px-4" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Consulta</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="false"
            >Edição</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
        tabindex="0">
        <div class="formularios_modal" id="div_consulta_urls">
        </div>

        <div class="div_tabela mx-4" id="div_table_consulta_urls">
            <script>
                $(document).ready(function () {
                    $("#div_table_consulta_urls").load(urlsFront("cadastros") + "urls/components/table/tableUrls.html");
                });
            </script>
        </div>
    </div>
    
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
        tabindex="0">
        <div class="formularios_modal mb-3" id="div_cadastro_urls">
        </div>
    </div>
</div> -->