<h2 id="modulo_titulo_cadastro_usuario">Cadastro de Usuários</h2>

<form class="row g-3 needs-validation" id="form_cadastro_usuarios" novalidate>

    <div class="col-md-6">
        <label for="codigo_usuario" class="form-label">Código</label>
        <input type="text" class="form-control" id="codigo_usuario" required disabled>
    </div>

    <div class="col-md-6">
        <label for="nome_usuario" class="form-label">Nome *</label>
        <input type="text" class="form-control" id="nome_usuario" required>
    </div>

    <div class="col-md-6">
        <label for="email" class="form-label">E-mail *</label>
        <input type="email" class="form-control" id="email" required>
    </div>

    <div class="col-md-6">
        <label for="data_nascimento" class="form-label">Data de nascimento</label>
        <input type="date" class="form-control" id="data_nascimento" required>
    </div>

    <div class="col-md-6">
        <label for="sexo" class="form-label">Sexo</label>
        <select id="sexo" class="form-select" required>
            <option value="F" selected>Feminino</option>
            <option value="M">Masculino</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="profissao" class="form-label">Profissão</label>
        <select id="profissao" class="form-select">
        </select>
    </div>

    <div class="col-md-6">
        <label for="escolaridade" class="form-label">Escolaridade</label>
        <select id="escolaridade" class="form-select">
        </select>
    </div>

    <div class="col-md-6">
        <label for="estado_usuario" class="form-label">Estado</label>
        <select id="estado_usuario" class="form-select">
            <option selected>AC</option>
            <option>AL</option>
            <option>AP</option>
            <option>AM</option>
            <option>BA</option>
            <option>CE</option>
            <option>DF</option>
            <option>ES</option>
            <option>GO</option>
            <option>MA</option>
            <option>MT</option>
            <option>MS</option>
            <option>MG</option>
            <option>PA</option>
            <option>PB</option>
            <option>PR</option>
            <option>PE</option>
            <option>PI</option>
            <option>RJ</option>
            <option>RN</option>
            <option>RS</option>
            <option>RO</option>
            <option>RR</option>
            <option>SC</option>
            <option>SP</option>
            <option>SE</option>
            <option>TO</option>
        </select>
    </div>

    <div class="col-md-6">
        <label for="c_cidade_usuario" class="form-label">Cidade</label>
        <select id="c_cidade_usuario" class="form-select">
            <option selected></option>
        </select>
    </div>

    <div class="col-md-6">
        <label for="user" class="form-label">Nome de usuário</label>
        <input type="text" class="form-control" id="user" required>
    </div>

    <div class="col-md-6">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha"
            oninput="validandoSenha(this, 'confirmar_senha', 'form_consulta_usuarios')" required>
    </div>

    <div class="col-md-6">
        <label for="confirmar_senha" class="form-label">Confirmar senha</label>
        <input type="password" class="form-control" id="confirmar_senha"
            onblur="validandoSenhaConfirmar(this, null, 'senha', 'form_consulta_usuarios')" required>
        <div class="invalid-feedback senhaInvalida">
            As senhas não estão iguais.
        </div>
        <div class="valid-feedback senhaValida">
            Senha confirmada.
        </div>
    </div>

    <div class="div-senha col-md-12 d-none" id="div-senha">
        <ul class="lista-senha">
            <li class="lista-item"> <i id="oito_caractere" class="bi bi-x errado"></i> No mínimo 8 caracteres </li>
            <li class="lista-item"> <i id="um_maiusculo" class="bi bi-x errado"></i> No mínimo 1 letra maíscula </li>
            <li class="lista-item"> <i id="um_minusculo" class="bi bi-x errado"></i> No mínimo 1 letra minúscula </li>
            <li class="lista-item"> <i id="um_especial" class="bi bi-x errado"></i> No mínimo 1 caractere especial </li>
            <li class="lista-item"> <i id="um_numero" class="bi bi-x errado"></i> No mínimo 1 número </li>
            <!-- <li class="lista-item"> <i id="sem_ponto" class="bi bi-check2 certo"></i> não pode ter caractere de pontuação, acentuação ou espaço </li> -->
        </ul>
    </div>

    <div class="container_radios">
        <div>
            <h5>Status de Atividade</h5>

            <div class="container__radios__inputs">
                <div class="form-check col-md-3">
                    <input class="form-check-input" type="radio" name="status_user" id="radio_ativo" checked>
                    <label class="form-check-label" for="radio_ativo">
                        Ativo
                    </label>
                </div>
                <div class="form-check col-md-3">
                    <input class="form-check-input" type="radio" name="status_user" id="radio_inativo">
                    <label class="form-check-label" for="radio_inativo">
                        Inativo
                    </label>
                </div>
            </div>
        </div>


        <div>
            <h5>Nível de acesso</h5>
            <div class="container__radios__inputs">
                <div class="form-check col-md-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio_coordenador">
                    <label class="form-check-label" for="radio_coordenador">
                        Coordenador
                    </label>
                </div>
                <div class="form-check col-md-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio_avaliador" checked>
                    <label class="form-check-label" for="radio_avaliador">
                        Avaliador
                    </label>
                </div>
            </div>
        </div>
    </div>




    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
        <button class="btn btn-dark me-md-2" type="button" data-bs-toggle="modal"
            data-bs-target="#modal_cadastro_usuario">Consultar</button>
        <button class="btn btn-primary me-md-2" type="button"><i class="bi bi-trash"></i></button>
        <button class="btn btn-primary me-md-2" id="btnCadastrar" type="submit">Salvar</button>
        <button class="btn btn-outline-dark" onclick="cancelar()" type="button">Cancelar</button>
    </div>
</form>